#breadcrumbs {
    background-color: #e9ecef;
}

.alert.header-message {
    border-radius: 0 !important;
}

pre{
    background-color: rgba(0,0,0,.25);
    border-radius: 5px;
    padding: 10px;
    color: #f8fafc;
}
