@import "../global";

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css';

